@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html[dir="rtl"] {
    @apply font-vazir;
  }

  html[dir="ltr"] {
    @apply font-sans;
  }

  body {
    user-select: none;
    -webkit-user-select: none;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #121217;
}

::-webkit-scrollbar-thumb {
  background: #272730;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

.shadow-soft {
  box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.2);
}

.shadow-premium {
  box-shadow: 0 8px 30px -4px rgba(0, 0, 0, 0.3), 0 4px 10px -2px rgba(0, 0, 0, 0.1);
}


.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}